@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    min-width: 150px;
}
body {
    height: auto;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 18vh;
    background: rgb(250 128 113);
    color: white;
}
header h1 {
    padding-bottom: 30px;
}

nav {
    min-height: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(27 188 155);
}
.navigate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navigate > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.lenguaje {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.lenguaje > a {
    display: flex;
    min-width: 100px;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
main {
    display: flex;
    min-height: 67vh;
}
.content {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    padding: 15px;
    background: rgb(255 255 255);
}
.columna {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: max-content;
    height: auto;
    background: rgb(241 241 241);
    padding: 15px;
}
.columna h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}
.parrafo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 100%;
    height: max-content;
    overflow: hidden;
}
.parrafo > p {
    padding: 10px 0;
    min-width: auto;
}
.grande {
    min-width: 50px;
    min-height: 50px;
    max-width: 83.1%;
    max-height:400px;
    width: auto;
    height: auto;
}
.grande img {
    min-width: 50px;
    width:100%;
    height: 100%;
}
footer {
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h3 {
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
}
