@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148 217 233);
    min-width: auto;
    min-height: 100vh;
}
.tarjetas {
    display: flex;
    min-height: auto;
    flex-wrap: wrap;
    width: max-content;
}

.tarjetas > div {
    min-width: 40vh;
    margin: 10px;
    background: rgb(255 255 255);
    border-radius: 10px;
    box-shadow: 5px 0px 4px rgb(169 172 175), 0px 5px 4px rgb(169 172 175);
}

.tarjetas > div > h1, p {
    display: flex;
    justify-content: center;
}
h1 {
    min-height: 15vh;
    align-items: center;
    background: rgb(250 128 113);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.parrafos {
    padding-top: 20px;
    margin: 0 10px;
    min-height: 35vh;
}
p {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(239 239 239);
    font-weight: bolder;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15vh;
    margin-bottom: 15px;
}
.footer > button {
    padding: 0 30px;
    height: 5vh;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.footer button:hover {
    background-color: lightgray;
}